{% extends "template.html" %}
{% block title %}Account confirmed{% endblock %}

{% block content%}

	<div class="top1"><a href="https://jakub-kuba.com"><img src="{{ url_for('static', path='main.png') }}" width="104" height="56" title="Home"></a></div>
	<div class="top2"><a href="/"><img src="{{ url_for('static', path='acco3.png') }}" width="104" height="56" title="Accordion"></a></div>
	<div class="top1"><a href="/"><img src="{{ url_for('static', path='back.png') }}" width="104" height="56" title="Back"></a></div>
	<div style="clear:both;"></div>

    <div class="bigrectangle">
        <br><br>
        Your account has been activated. You can log in now.
    </div>
    <div style="clear:both;"></div>


{% endblock %}